@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn  {
  color: black;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover {
  transform: scale(1.1);
  background-color: rgb(28, 173, 173);
}

.btn-weather {
  color: black;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: rgb(98, 191, 97);
  transition: .1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-weather:hover {
  transform: scale(1.05);
  background-color: rgb(28, 173, 173);
}

.btn-game  {
  color: black;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-game:hover {
  transform: scale(1.02);
  background-color: rgb(28, 173, 173);
}

.router-link-exact-active  {
  background-color: rgb(60, 176, 60);
  color: white;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product_item {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.gray-bg {
  position: absolute;
  background-color: gray;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  opacity: .3;
}

.cliac {
  position: absolute;
  top: 220px;
  width: 0px;
  animation: 2s linear 2s infinite cliac;
}

@keyframes cliac {
  from {
    width: 0px;
    left: -19px;
    top: 220px;
  }
  to {
    width: 800px;
    left: -330px;
    top: 0px;
    transform: scale(30);
  }
}